.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: pink;
}

p {
  background-image: linear-gradient(to right, #FF0018,#FFA52C,#FFFF41,#008018,#0000F9,#86007D);
  background-clip:border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small {
  font-size: 0.75rem;
}